@media (max-width: 600px) {
  body {
    margin: 0 !important;
  }

  .container {
    margin-top: 40px !important;
  }

  .main-text {
    font-size: 28px !important;
  }

  .namedDay,
  .namedDays {
    font-size: 16px !important;
  }

  .forecastTempMax,
  .forecastTempMin {
    font-size: 14px;
  }

  div .icon {
    font-size: 30px !important;
  }

  .search-width {
    max-width: 100%;
    margin: 0 !important;
  }

  .source {
    font-size: 8px !important;
  }
}

body {
  max-width: 100%;
}

li {
  list-style: none;
}

button {
  color: rgb(149, 149, 149);
  border: none;
  background: scroll;
  text-decoration: none !important;
  font-size: 20px;
  letter-spacing: -0.8px;
}

button:hover {
  text-shadow: 0 0 1.5px rgb(149, 149, 149);
  color: rgba(90, 90, 90, 0.5);
  font-size: 18px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  margin-top: 120px;
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(57, 119, 252, 90%),
    rgb(255, 252, 80, 90%),
    rgb(255, 255, 255)
  );
}

.main-text {
  font-size: 32px;
  color: rgba(255, 252, 80);
  text-shadow: 0 0 2px rgb(255, 252, 80, 0.7);
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
}

.WeatherInfo {
  text-align: justify;
  max-width: 400px;
  margin: 0 auto;
}

.WeatherForecast {
  max-width: 420px;
  margin: 0 auto;
}

.temperature {
  color: rgba(70, 70, 70, 0.9);
  font-size: 60px;
  font-weight: 300;
  line-height: 50px;
  margin-left: 10px;
}

.forecastTempMax {
  color: rgba(90, 90, 90, 0.7);
  text-shadow: 0 0 1.5px rgb(57, 119, 252, 0.5);
}

.forecastTempMin {
  color: rgba(90, 90, 90);
  text-shadow: 0 0 1.5px rgb(57, 119, 252, 0.7);
}

.unit {
  font-style: italic;
  color: rgba(70, 70, 70, 0.9);
  position: relative;
  top: -30px;
}

.search-city {
  display: flex;
  justify-content: space-around;
}

.search-width {
  width: 340px;
  margin: 0 30px;
  border: 1.5px solid rgba(90, 90, 90, 0.2);
  border-radius: 8px;
  padding: 5px;
  background: scroll;
  color: rgb(149, 149, 149);
  transition: all 200ms ease-in-out;
}

.search-width:hover {
  border-color: #0665b8cb;
  background: white;
  box-shadow: 0 0 2px #066cc56b;
}

.lupa {
  font-size: 24px;
  opacity: 80%;
  border: none;
  background: scroll;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.col-6 {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  display: flex;
  text-align: justify;
  justify-content: center;
  color: rgba(70, 70, 70, 0.9);
}

.App {
  display: block;
  text-align: center;
}

.geo {
  display: flex;
  max-width: 44px;
  position: relative;
  left: 44px;
  top: 48px;
  opacity: 60%;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.geo:hover {
  max-width: 46px;
  opacity: 80%;
}

.namedDay {
  color: rgba(70, 70, 70);
  font-size: 18px;
  line-height: 26px;
}

.namedDays {
  text-shadow: 0 0 1.5px rgb(57, 119, 252, 0.7);
  color: rgba(110, 110, 110);
  font-size: 18px;
  line-height: 26px;
}

.source {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 12px;
  color: rgb(57, 119, 252, 80%);
}
